/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #000;
  background-color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: -1px;
}

@media screen and (min-width: 320px) {
  .contacts {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(4%, #fff), color-stop(4%, #fff5f6));
    background-image: linear-gradient(to bottom, #fff 4%, #fff5f6 4%);
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    padding-bottom: 113px;
  }
  .contacts__card {
    background-color: #fff;
    max-width: 220px;
    max-height: 427px;
    -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
            box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 43px 20px;
  }
  .contacts__card:not(:last-child) {
    margin-bottom: 20px;
  }
  .contacts__name {
    display: block;
    width: 80px;
    background-color: #f0d1a5;
    color: #fff5f6;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 4px;
    margin-bottom: 25px;
  }
  .contacts__name-color {
    background-color: #ffb8ca;
    width: 130px;
  }
  .contacts__city {
    margin-bottom: 10px;
  }
  .contacts__card-text {
    color: #907e82;
    font-size: 11px;
    line-height: 150%;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  .contacts__card-border {
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;
  }
  .contacts__work-hours-marg {
    margin-bottom: 10px;
  }
  .contacts__work-hours {
    color: #ffa5ba;
  }
  .contacts__address-list {
    margin-top: 25px;
  }
  .contacts__button-location {
    display: block;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    border-radius: 22px;
    background-color: #d41443;
    color: #fff;
    border: none;
    width: 161px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 54px;
    margin-bottom: 10px;
  }
  .contacts__button-franchise {
    display: block;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    border-radius: 22px;
    background-color: #fff;
    color: #d41443;
    border: none;
    width: 161px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
  }
  .maps {
    min-width: 320px;
    width: 100vw;
  }
  .modal-window {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-window.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .modal-window.is-hidden .modal {
    -webkit-transform: translate(-50% -50%) scale(1.2);
            transform: translate(-50% -50%) scale(1.2);
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 80%;
    background-color: #d41443;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__close-button {
    position: fixed;
    top: 8px;
    right: 8px;
    padding: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #d41443;
  }
}

@media screen and (min-width: 768px) {
  .contacts__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 220px;
    max-height: 544px;
    margin: 0;
    padding: 50px 31px;
  }
  .contacts__card:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .contacts__name {
    display: block;
    width: 73px;
    height: 28px;
  }
  .contacts__name-color {
    width: 138px;
  }
  .contacts__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 81px;
  }
  .contacts__button-location,
  .contacts__button-franchise {
    margin: 0;
  }
  .contacts__button-location {
    width: 191px;
    margin-right: 15px;
  }
  .contacts__button-franchise {
    width: 174px;
  }
  .contacts {
    font-size: 14px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #fff), color-stop(10%, #fff5f6)), url("./../images/content-backg.png");
    background-image: linear-gradient(to bottom, #fff 10%, #fff5f6 10%), url("./../images/content-backg.png");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts__card-text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    max-width: 1280px;
    background-image: url("./../images/content-backg.png"), -webkit-gradient(linear, left top, left bottom, color-stop(10%, #fff), color-stop(10%, #fff5f6));
    background-image: url("./../images/content-backg.png"), linear-gradient(to bottom, #fff 10%, #fff5f6 10%);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 330px;
    max-height: 572px;
    padding: 51px 43px;
    padding-bottom: 62px;
  }
  .contacts__button-location {
    width: 198px;
  }
  .contacts__button-franchise {
    width: 180px;
  }
  .contacts {
    font-size: 16px;
  }
  .contacts__card-text {
    font-size: 16px;
  }
  .contacts__icon-franchise {
    fill: #d41443;
  }
  .contacts__icon-location {
    fill: #fff;
  }
  .contacts__button-location:hover,
  .contacts__button-location:focus {
    background-color: #d41342;
  }
  .contacts__button-franchise:hover,
  .contacts__button-franchise:focus {
    background-color: #ecebeb;
  }
}
/*# sourceMappingURL=main.css.map */