<section class="advantages section">
    <div class="advantages-box container">
        <h2 class="advantages hidden"></h2>
        <ul class="advantages__list list">
            <li class="advantages__item icon-one">
                <h3 class="advantages__subtitle">721</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item icon-two">
                <h3 class="advantages__subtitle">16kg</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item icon-three">
                <h3 class="advantages__subtitle">84</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section>