<section class="contacts" id="contacts">
    <div class="contacts__container">
        <ul class="contacts__head">
            <h2 hidden>Contacts</h2>
            <li class="contacts__card">
                <a href="" class="contacts__name">CAFE</a>
                <ul>
                    <li>
                        <h3 class="contacts__city">Chicago</h3>
                        <p class="contacts__card-text contacts__card-border">Fusce ut velit laoreet, tempus arcu
                            molestie
                            vulputate</p>
                    </li>
                    <li>
                        <h3 class="contacts__work-day">Monday - Friday</h3>
                        <p class="contacts__work-hours contacts__work-hours-marg">06:00 AM - 10:00 PM</p>
                        <h3 class="contacts__work-day">Saturday - Sunday</h3>
                        <p class="contacts__work-hours contacts__card-border">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contacts__address-list">
                        <a href="tel:+61(0)383766284" class="contacts__card-text contacts__card-link">+61(0) 383 766
                            284</a>
                        <a href="mailto:noreply@envato.com"
                            class="contacts__card-text contacts__card-link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__card">
                <a href="" class="contacts__name contacts__name-color">FOODTRUCK</a>
                <ul>
                    <li>
                        <h3 class="contacts__city">Los Angeles</h3>
                        <p class="contacts__card-text contacts__card-border">Fusce ut velit laoreet, tempus arcu
                            molestie
                            vulputate</p>
                    </li>
                    <li>
                        <h3 class="contacts__work-day">Monday - Friday</h3>
                        <p class="contacts__work-hours contacts__work-hours-marg">06:00 AM - 10:00 PM</p>
                        <h3 class="contacts__work-day">Saturday - Sunday</h3>
                        <p class="contacts__work-hours contacts__card-border">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contacts__address-list">
                        <a href="tel:+61(0)383766284" class="contacts__card-text contacts__card-link">+61(0) 383 766
                            284</a>
                        <a href="mailto:noreply@envato.com"
                            class="contacts__card-text contacts__card-link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__card">
                <a href="" class="contacts__name">CAFE</a>
                <ul>
                    <li>
                        <h3 class="contacts__city">New York</h3>
                        <p class="contacts__card-text contacts__card-border">Fusce ut velit laoreet, tempus arcu
                            molestie
                            vulputate</p>
                    </li>
                    <li>
                        <h3 class="contacts__work-day">Monday - Friday</h3>
                        <p class="contacts__work-hours contacts__work-hours-marg">06:00 AM - 10:00 PM</p>
                        <h3 class="contacts__work-day">Saturday - Sunday</h3>
                        <p class="contacts__work-hours contacts__card-border">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contacts__address-list">
                        <a href="tel:+61(0)383766284" class="contacts__card-text contacts__card-link">+61(0) 383 766
                            284</a>
                        <a href="mailto:noreply@envato.com"
                            class="contacts__card-text contacts__card-link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="contacts__button">
            <div class="about__box-btn">
                <a href="#openContacts-locations">
                    <button type="button" class="about__bottom-btn btn btn-red btn-animate" data-modal-open>
                        Our locations
                    </button>
                </a>
            </div>
            <div class="about__box-btn">
                <a href="#openContacts-franchise">
                    <button type="button" class="about__bottom-btn btn btn-white btn-animate" data-modal-open>
                        Franchise
                    </button>
                </a>
            </div>
        </div>
        <!-- Модалка франшизы -->
        <div id="openContacts-locations" class="modal__locations">
            <div class="about__modal-dialog">
                <div class="about__modal-content">
                    <div class="about__modal-header">
                        <p class="about__modal-title">Ice Cream can be healthy?</p>
                        <a href="#close" title="Close" class="about__modal-button">
                            <svg class="about__modal-cross" width=15 height=15>
                                <use href="./images/sprite.svg#icon-x">
                            </svg>
                        </a>
                    </div>
                    <div class="about__modal-body">
                        <p>Our ice cream and other products made from natural milk, so it's packed with important nutrients like
                            calcium, phosphorus, B vitamins, potassium and vitamin D. Plus, it's an
                            excellent source of protein. Drinking milk and dairy products may prevent osteoporosis and bone
                            fractures and even help
                            you maintain a healthy weight.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Модалка локейшенов -->
        <div id="openContacts-franchise" class="modal__franchise">
            <div class="about__modal-dialog">
                <div class="about__modal-content">
                    <div class="about__modal-header">
                        <p class="about__modal-title">Ice Cream can be healthy?</p>
                        <a href="#close" title="Close" class="about__modal-button">
                            <svg class="about__modal-cross" width=15 height=15>
                                <use href="./images/sprite.svg#icon-x">
                            </svg>
                        </a>
                    </div>
                    <div class="about__modal-body">
                        <p>Our ice cream and other products made from natural milk, so it's packed with important nutrients like
                            calcium, phosphorus, B vitamins, potassium and vitamin D. Plus, it's an
                            excellent source of protein. Drinking milk and dairy products may prevent osteoporosis and bone
                            fractures and even help
                            you maintain a healthy weight.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<script>
    (() => {
        const refs = {
            openModalBtn: document.querySelector('[data-modal-open]'),
            closeModalBtn: document.querySelector('[data-modal-close]'),
            modal: document.querySelector('[data-modal]'),
        };

        refs.openModalBtn.addEventListener('click', toggleModal);
        refs.closeModalBtn.addEventListener('click', toggleModal);

        function toggleModal() {
            refs.modal.classList.toggle('is-hidden');
        }
    })();
</script>