<section class="section customer-reviews" id="customer-reviews">
  <div class="container">
    <div class="single-item">
      <div class="reviews-card">
        <img
          class="reviews-card__img"
          srcset="./images/client-one@1x.png 1x, ./images/client-one@2x.png 2x"
          src="./images/client-one@1x.png "
          alt="box1"
          width="85"
        />
        <div class="reviews-card__wrapper">
          <svg class="reviews-card__wrapper-icon" width="54" height="40">
            <use href="./images/sprite.svg#icon-quotes"></use>
          </svg>
          <div class="reviews-card__overlay">
            <p class="reviews-card__comment">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <div class="reviews-card__marker"></div>
        <h4 class="reviews-card__customername">Emily, Los Angeles</h4>
      </div>
      <div class="reviews-card">
        <img
          class="reviews-card__img"
          srcset="./images/client-two@1x.png 1x, ./images/client-two@2x.png 2x"
          src="./images/client-two@2x.png "
          alt="box1"
          width="85"
        />
        <div class="reviews-card__wrapper">
          <svg class="reviews-card__wrapper-icon" width="54" height="40">
            <use href="./images/sprite.svg#icon-quotes"></use>
          </svg>
          <div class="reviews-card__overlay">
            <div class="reviews-card__comment">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </div>
          </div>
        </div>
        <div class="reviews-card__marker"></div>
        <h4 class="reviews-card__customername">Emily, Los Angeles</h4>
      </div>
      <div class="reviews-card">
        <img
          class="reviews-card__img"
          srcset="./images/client-three@1x.png 1x, ./images/client-three@2x.png 2x"
          src="./images/client-three@2x.png "
          alt="box1"
          width="85"
        />
        <div class="reviews-card__wrapper">
          <svg class="reviews-card__wrapper-icon" width="54" height="40">
            <use href="./images/sprite.svg#icon-quotes"></use>
          </svg>
          <div class="reviews-card__overlay">
            <div class="reviews-card__comment">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </div>
          </div>
        </div>
        <div class="reviews-card__marker"></div>
        <h4 class="reviews-card__customername">Emily, Los Angeles</h4>
      </div>
      <div class="single-item">
        <div class="reviews-card">
          <img class="reviews-card__img" srcset="./images/client-one@1x.png 1x, ./images/client-one@2x.png 2x"
            src="./images/client-one@2x.png " alt="box1" width="85" />
          <div class="reviews-card__wrapper">
            <svg class="reviews-card__wrapper-icon" width="54" height="40">
              <use href="./images/sprite.svg#icon-quotes"></use>
            </svg>
            <div class="reviews-card__overlay">
              <p class="reviews-card__comment">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <div class="reviews-card__marker"></div>
          <h4 class="reviews-card__customername">Emily, Los Angeles</h4>
        </div>
    </div>
  </div>
</section>
