<section>
    <div class="products container">
        <div class="products-wrapper">
            <p class="products-text">100% natural</p>
            <h2 class="products-title">products</h2>
        </div>
        <ul class="products-menu">
            <li class="products-menu__card one">
                <div class="product-wrapper">
                <a href="" class="products-menu__link">
                    <div class="products-menu__details">
                        <h3 class="products-menu__subtitle">ice cream</h3>
                        <p class="products-menu__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    </div>
                </a>
              </div>
            </li>
            <li class="products-menu__card two">
              <div class="product-wrapper">
                <a href="" class="products-menu__link">
                    <div class="products-menu__details point">
                        <h3 class="products-menu__subtitle">Ice Coffee</h3>
                        <p class="products-menu__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    </div>
                </a>
              </div>
            </li>
            <li class="products-menu__card three">
              <div class="product-wrapper">
                <a href="" class="products-menu__link">
                    <div class="products-menu__details">
                        <h3 class="products-menu__subtitle">milkshakes</h3>
                        <p class="products-menu__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    </div>
                </a>
              </div>
            </li>
        </ul>
    </div>

</section>