<section class="products" id="products">
  <div class="products__container container">
    <div class="products__title-wrapper">
      <p class="products__double-title" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">100% natural</p>
      <h2 class="products__title" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">products</h2>
    </div>
    <ul class="products__list">
      <li class="products__card products__card--one" data-aos="fade-up-left" data-aos-delay="500" data-aos-duration="500">
        <a href="" class="products__card-link">
          <h3 class="products__card-subtitle">ice cream</h3>
          <p class="products__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
        </a>
        <button class="products__card-button js-open-modal" data-modal="1" type="button"></button>
        <div class="modalpro modal-one" data-modal="1">
          <p class="products__card-text--two">Reversus est supra in Sinis antiquitus saeculo III. BC Frigida demerita primum imperatoribus parata sunt. Coniunctio nivis, glaciei et crustae aurantiacae, CITREA et granata in secunda mensa post magnam cenam apposita est.
            Constat ex tribus partibus: bubalum, vaccam, capram.</p>
            <button class="products__button-closed js-modal-close" type="button"></button>
        </div>
        <div class="overlay js-overlay-modal"></div>
      </li>
      <li class="products__card products__card--two" data-aos="flip-up" data-aos-delay="500" data-aos-duration="1000">
        <a href="" class="products__card-link">
          <h3 class="products__card-subtitle">Ice Coffee</h3>
          <p class="products__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
        </a>
        <button class="products__card-button js-open-modal" data-modal="2" type="button"></button>
        <div class="modalpro modal-two" data-modal="2">
          <p class="products__card-text--two">Reversus est supra in Sinis antiquitus saeculo III. BC Frigida demerita primum imperatoribus parata sunt. Coniunctio nivis, glaciei et crustae aurantiacae, CITREA et granata in secunda mensa post magnam cenam apposita est.
            Constat ex tribus partibus: bubalum, vaccam, capram.</p>
            <button class="products__button-closed js-modal-close"  type="button"></button>
        </div>
        <div class="overlay js-overlay-modal"></div>
      </li>
      <li class="products__card products__card--three" data-aos="fade-up-right" data-aos-delay="500" data-aos-duration="500">
        <a href="" class="products__card-link">
          <h3 class="products__card-subtitle">milkshakes</h3>
          <p class="products__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
        </a>
        <button class="products__card-button js-open-modal" data-modal="3" type="button"></button>
        <div class="modalpro modal-three" data-modal="3">
          <p class="products__card-text--two">Reversus est supra in Sinis antiquitus saeculo III. BC Frigida demerita primum imperatoribus parata sunt. Coniunctio nivis, glaciei et crustae aurantiacae, CITREA et granata in secunda mensa post magnam cenam apposita est.
          Constat ex tribus partibus: bubalum, vaccam, capram.</p>
            <button class="products__button-closed js-modal-close"  type="button"></button>
        </div>
       <!-- <div class="overlay js-overlay-modal"></div>-->
      </li>
     <!--  <li class="products__card products__card--three" data-aos="fade-up-right" data-aos-delay="500" data-aos-duration="500">
        <a href="" class="products__card-link">
          <div class="oneblack">
          <h3 class="products__card-subtitle">milkshakes</h3>
          <p class="products__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
          
          </a>
        <button class="products__card-button js-open-modal" data-modal="3" type="button"></button>
      </div>
        <div class="modalpro modal-three" data-modal="3">
          <p class="products__card-text--two">Reversus est supra in Sinis antiquitus saeculo III. BC Frigida demerita primum imperatoribus parata sunt. Coniunctio nivis, glaciei et crustae aurantiacae, CITREA et granata in secunda mensa post magnam cenam apposita est.
          Constat ex tribus partibus: bubalum, vaccam, capram.</p>
            <button class="products__card-button js-modal-close"  type="button"></button>
        </div>
       <div class="overlay js-overlay-modal"></div>
      </li>-->
    </ul>
  </div>
<script>
!function(e){"function"!=typeof e.matches&&(e.matches=e.msMatchesSelector||e.mozMatchesSelector||e.webkitMatchesSelector||function(e){for(var t=this,o=(t.document||t.ownerDocument).querySelectorAll(e),n=0;o[n]&&o[n]!==t;)++n;return Boolean(o[n])}),"function"!=typeof e.closest&&(e.closest=function(e){for(var t=this;t&&1===t.nodeType;){if(t.matches(e))return t;t=t.parentNode}return null})}(window.Element.prototype);


document.addEventListener('DOMContentLoaded', function() {
/* Записуємо в змінні масив елементів-кнопок та підкладку. Підкладці поставимо id, щоб не впливати на інші елементи з класом overlay*/
   var modalproButtons = document.querySelectorAll('.js-open-modal'),
       overlay      = document.querySelector('.js-overlay-modal'),
       closeButtons = document.querySelectorAll('.js-modal-close');

   /* Перебираємо масив кнопок */
   modalproButtons.forEach(function(item){

      /* Призначаємо кожній кнопці обробник кліку */
      item.addEventListener('click', function(e) {
/* Запобігаємо стандартній дії елемента. Оскільки кнопку різні люди можуть зробити по-різному. Хтось зробить заслання, хтось кнопку. Потрібно підстрахуватися. */
         e.preventDefault();

/* При кожному кліку на кнопку ми забиратимемо вміст атрибута data-modal і шукатимемо модальне вікно з таким же атрибутом. */
         var modalproId = this.getAttribute('data-modal'),
         modalproElem = document.querySelector('.modalpro[data-modal="' + modalproId + '"]');
/* Після того, як знайшли потрібне модальне вікно, додамо класи підкладці та вікна, щоб показати їх. */
            modalproElem.classList.add('active');
         overlay.classList.add('active');
      }); // end click

   }); // end foreach


   closeButtons.forEach(function(item){

      item.addEventListener('click', function(e) {
         var parentModalpro = this.closest('.modalpro');

         parentModalpro.classList.remove('active');
         overlay.classList.remove('active');
      });

   }); // end foreach


    document.body.addEventListener('keyup', function (e) {
        var key = e.keyCode;

        if (key == 27) {

            document.querySelector('.modalpro.active').classList.remove('active');
            document.querySelector('.overlay').classList.remove('active');
        };
    }, false);

    overlay.addEventListener('click', function() {
        document.querySelector('.modalpro.active').classList.remove('active');
        this.classList.remove('active');
    });
}); // end ready
</script>
</section>