<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Нормалайзер -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
          integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Шрифты -->
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap"
              rel="stylesheet">
        <!-- файл стилей -->
        <link rel="stylesheet" href="./products.scss">
        <!-- Фавикон -->
        <link rel="shortcut icon" href="./images/favicon-icecream.png">
    <title>Заголовок страницы</title>
  <script async src='/cdn-cgi/bm/cv/669835187/api.js'></script></head>
<section>
    <div class="products container">
        <div class="products-wrapper">
            <p class="products-text">100% natural</p>
            <h2 class="products-title">products</h2>
        </div>
        <ul class="products-menu">
            <li class="products-menu__card one">
                <div class="product-wrapper">
                <a href="" class="products-menu__link">
                    <div class="products-menu__details">
                        <h3 class="products-menu__subtitle">ice cream</h3>
                        <p class="products-menu__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    </div>
                </a>
              </div>
            </li>
            <li class="products-menu__card two">
              <div class="product-wrapper">
                <a href="" class="products-menu__link">
                    <div class="products-menu__details point">
                        <h3 class="products-menu__subtitle">Ice Coffee</h3>
                        <p class="products-menu__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    </div>
                </a>
              </div>
            </li>
            <li class="products-menu__card three">
              <div class="product-wrapper">
                <a href="" class="products-menu__link">
                    <div class="products-menu__details">
                        <h3 class="products-menu__subtitle">milkshakes</h3>
                        <p class="products-menu__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    </div>
                </a>
              </div>
            </li>
        </ul>
    </div>

</section><script type="text/javascript">(function(){window['__CF$cv$params']={r:'6d5d847a4bf0501f',m:'Nk_t0Zam6UK.ADDQHowqV8j0CIQxK1T6kkRZGX2LKt8-1643575249-0-ATYxsFpw7cfBV7nK+6Sv08QiS2IvV58+fgC2aX7ild1z276eOhMSFnYtubQxtlm3myvyw5ni0ANGzGG7G/MwtYXhYAGJvol7L+sP4PwzknunPJSA4nrOBqszeWFaUgY6B8E5fJCpHJAFWN+YlAFTcRaePYO1P+Uw5uCnivyQlZn2w58MJRlI8YvSExwlpeVekJJKYBNdVwNwLIayZIXVVFc=',s:[0x23ffce7351,0x79aa4b0bc4],}})();</script>