<footer class="footer">
  <p class="footer__double-title">homemade ice cream made</p>
  <h2 class="footer__title">with passion</h2>
  <ul class="footer__socials">
    <li class="footer__socisl-item">
      <a href="" class="footer__social-link"> <svg class="footer__icon"></svg><use href="./images/sprite.svg#icon-git-hub"> </a>
    </li>
    <li class="footer__socisl-item">
      <a href="" class="footer__social-link"> <svg class="footer__icon"></svg><use href="./images/sprite.svg#icon-telegram"> </a>
    </li>
    <li class="footer__socisl-item">
      <a href="" class="footer__social-link"> <svg class="footer__icon"></svg><use href="./images/sprite.svg#icon-facebook"> </a>
    </li>
  </ul>
  <p class="footer__contact">Feel free to contact <a href="tel:+610383766284">+61(0)383 766 284</a></p>
  <p class="footer__licence">
    &#169; 2019 - IceCream.
    All Rights Reserved. </p>
</footer>
