<div class="overflow">
    <header class="header-and-hero">
        <div class="header">
            <a href="./index.html" class="header__logo">
                <picture class="header__logo-picture">
                    <source srcset="./images/ice-cream-logo.png 1x, ./images/ice-cream-logo@2x.png 2x">
                    <img alt="логотип сайта" class="site-header__image" src="./images/ice-cream-logo.png">
                </picture>
            </a> 
            <div class="header__mob-menu ">
                <button type="button" class="header__menu-closer-button is-open my-class2">
                    <svg class="header__menu-closer-icon" width="14" height="14">
                        <use href="./images/sprite.svg#icon-x"></use>
                    </svg>
                </button>
                <div class="header__nav-container">
                    <nav>
                        <ul class="nav-list">
                            <li class="nav-list__item"><a class="nav-list__link" href="./index.html">Home</a></li>
                            <li class="nav-list__item"><a class="nav-list__link" href="#customer-reviews">About us</a></li>
                            <li class="nav-list__item"><a class="nav-list__link" href="#about">How it’s made?</a></li>
                            <li class="nav-list__item"><a class="nav-list__link" href="#products">Our products</a></li>
                            <li class="nav-list__item"><a class="nav-list__link" href="#contacts">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <button type="button" class="header__mob-button">
                    Buy now
                    <svg class="header__mob-button-icon">
                        <use href="./images/header+hero/header-sprite.svg#pointer"></use>
                    </svg>
                </button>
            </div>
            <div class="header__buttons">
                <button type="button" class="header__menu-button is-open my-class1">
                    <svg class="header__menu-icon" width="20" height="12">
                        <use href="./images/header+hero/header-sprite.svg#burger-menu" width="20" height="12"></use>
                    </svg>
                </button>
                <button type="button" class="header__mob-button header__mob-button--hidden">
                    Buy now
                    <svg class="header__mob-button-icon">
                        <use href="./images/header+hero/header-sprite.svg#pointer"></use>
                    </svg>
                </button>
            </div>
    
        </div>
    </header>
    
    <main>
        <!-- HERO -->
        <div class="header-and-hero">
            <div class="hero">
                <div class="hero__container">
                    <div class="hero__title-section">
                        <h1 class="hero__title">ice cream <br> made with <br><span class="hero__large-text">passion</span></h1>
                        <ul class="hero__buttons-list">
                            <li class="hero__buttons-list-item">
                                <form style="display: inline" action="#products" method="get">
                                    <button class="hero__nav-button hero__nav-button--red">Products</button>
                                </form>
                            </li>
                            <li class="hero__buttons-list-item">
                                <form style="display: inline" action="#about" method="get">
                                    <button class="hero__nav-button">How it’s made?</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <ul class="hero__amount-list">
                        <li class="hero__amount-item">
                            <p class="hero__number">16</p>
                            <p class="hero__text">cafes</p>
                        </li>
                        <li class="hero__amount-item">
                            <p class="hero__number">23</p>
                            <p class="hero__text">food trucks</p>
                        </li>
                    </ul>
                </div>
                <picture class="hero__picture hero__picture--bio-eco">
                    <source srcset="./images/bio-eco@1x.png 1x, ./images/bio-eco@2x.png 2x">
                    <img alt="Кувшин с молоком" class="site-header__image" src="./images/bio-eco@1x.png">
                </picture>
                <div class="hero__description">
                    <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et
                    </p>
                    <button type="button" class="hero__description-button">
                        <svg class="hero__description-icon">
                            <use href="./images/arrow-right@1x.png"></use>
                        </svg>
                    </button>
                </div>
                <picture class="hero__picture hero__picture--icecream">
                    <source srcset="./images/hero-icecream@1x.png 1x, ./images/hero-icecream@2x.png 2x"">
                    <img alt=" мороженное" class="site-header__image" src="./images/hero-icecream@1x.png">
                </picture>
                <picture class="hero__picture hero__picture--tasty">
                    <source srcset="./images/tasty@1x.png 1x, ./images/tasty@2x.png 2x">
                    <img alt="девушка ест мороженное" class="site-header__image" src="./images/tasty@1x.png">
                </picture>
            </div>
        </div>
    </main>
</div>