.about {
  background-color: #fff5f6;
  width: 100%;
  height: 100%;

  &__wrapper {
    margin-top: 125px;

    @media screen and (min-width: 768px) {
      margin-top: 125px;
    }
    @media screen and (min-width: 1280px) {
      margin-top: 130px;
    }
  }

  &__text {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.166;

    margin-bottom: 15px;
    color: #ffa5ba;

    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.154;
    }

    @media screen and (min-width: 1280px) {
      font-size: 26px;
      line-height: 1.154;

      letter-spacinng: 0.04em;
    }
  }

  &__title {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 34px;
    line-height: 1.147;
    letter-spacing: 0.04em;
    text-align: center;

    color: #d41443;

    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 1.145;
    }

    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 1.138;
    }
  }
}

.about__bc {
  background-image: url(../../images/about);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #fff5f6;
}

.about__cow {
  // position: absolute;
  width: 516px;
  height: 516px;
  // margin-left: 112px;
  // margin-top: 55px;
  margin: 55px 74px 0 0;
}

.about__description {
  display: block;
  // margin-left: 702px;
  // margin-right: 117px;
}

.description-black {
  // position: absolute;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 176%;
  margin: 105px 0 35px;
  letter-spacing: 0.04em;
  color: #000000;
}
.description-grey {
  // position: absolute;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 194%;
  // margin-top: 301px;
  letter-spacing: 0.04em;
  margin: 0 0 45px;

  color: #907e82;
}
.about__btn {
  background-color: #ffffff;
  border: none;
  color: #d41443;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 22px;
  width: 176px;
  height: 44px;
  cursor: pointer;
  margin: 0 404px 0 0;
}
.about__btn:hover {
  background-color: #ecebeb;
}
