.about {
  background-color: $background-secondary-color;
}

.about__container {
  position: relative;
  padding-top: 125px;
  padding-bottom: 39px;
  @media screen and (min-width: 768px) {
    padding-top: 130px;
    padding-bottom: 66px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 125px;
    padding-bottom: 39px;
  }
}
.about__bg-image {
  position: absolute;
  pointer-events: none;
  bottom: 61px;
  margin-left: -20px;
  margin-right: -20px;
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    display: block;
    margin-left: -75px;
    margin-right: -75px;
  }
}
.about__title-wrapper {
  margin-bottom: 26px;
  margin-left: 40px;
  margin-right: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 55px;
  }
}
.about__double-title {
  font-family: Titan One, sans-serif;

  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.166;

  margin-bottom: 15px;
  color: $text-pink;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.154;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: calc(34 / 30);

    letter-spacing: 0.04em;
  }
}
.about__title {
  font-family: Titan One, sans-serif;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 1.147;
  letter-spacing: 0.04em;
  text-align: center;

  color: $text-red;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.145;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.138;
  }
}
.about__main {
  text-align: center;
  display: flex;
  justify-content: center;

  background-color: $background-secondary-color;

  @media screen and (max-width: 767px) {
    display: block;
  }
}
.about__image-thumb {
  display: inline-block;
  @media screen and (max-width: 767px) {
    max-width: 280px;
    max-height: 280px;
    margin-bottom: 46px;
  }

  @media screen and (min-width: 768px) {
    display: block;
    width: 340px;
    height: 340px;
    margin-bottom: 0;
    margin-right: 17px;
  }
  @media screen and (min-width: 1280px) {
    display: block;
    width: 516px;
    height: 516px;
    margin-right: 74px;
  }
}
.about__description {
  display: inline-block;

  max-width: 380px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(19 / 12);
  text-align: left;
  @media screen and (min-width: 768px) {
    max-width: 340px;
    padding-top: 50px;
    font-size: 14px;
    line-height: calc(25 / 14);
  }
  @media screen and (min-width: 1280px) {
    max-width: 463px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 51px;
    font-size: 16px;
    line-height: calc(28 / 16);
  }
}
.description-black {
  color: $text-black;

  margin-bottom: 33px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 35px;
  }
}
.description-grey {
  color: $text-secondary;

  margin-bottom: 17px;
  @media screen and (min-width: 768px) {
    margin-bottom: 62px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 45px;
  }
}
.about__btn {
  background-color: $background-white;
  color: $text-red;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 22px;
  min-width: 176px;
  height: 44px;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    background-color: $hover-buttons-gray;
  }
}

/* modal windows*/
.about__modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  opacity: 0;

  transition: opacity 200ms ease-in;
  pointer-events: none;
  margin: 0;
  padding: 0;

  &:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
  }
}
.about__modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
@media (min-width: 480px) {
  .about__modal-dialog {
    max-width: 480px;
    margin: 30px auto;
  }
}
.about__modal-content {
  position: relative;

  display: flex;

  flex-direction: column;
  background-color: $background-white;
  background-clip: padding-box;
  border: 1px solid $text-pink;
  box-shadow: 0 5px 15px rgb(144, 126, 130);
  border-radius: 24px;
  outline: 0;
}

.about__modal-header {
  display: flex;

  align-items: center;

  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;

  padding: 15px;
  border-bottom: 1px solid #eceeef;
}
.about__modal-title {
  font-family: Titan One, sans-serif;

  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: $text-pink;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.154;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: calc(34 / 30);

    letter-spacing: 0.04em;
  }
}
.about__modal-button {
  // float: right;
  // display: block;
  text-align: center;
  padding-top: 4px;
  margin: 0;
  width: 30px;
  height: 30px;
  color: $background-white;
  background-color: $background-pink;

  border-radius: 50%;

  transition: background-color $transition-options;
  cursor: pointer;
  &:focus,
  &:hover {
    background-color: $hover-social-icons-fill;
  }
}
.about__modal-cross {
  display: inline-block;
  fill: currentColor;
}
.about__modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
  overflow-y: auto;
  display: inline-block;

  font-weight: 500;
  font-size: 12px;
  line-height: calc(19 / 12);
  text-align: left;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(25 / 14);
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: calc(28 / 16);
  }
}
