@media screen and (min-width: 320px) {
  .contacts {
    background-image: linear-gradient(to bottom, #fff 4%, #fff5f6 4%);
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    padding-bottom: 113px;
  }

  .contacts__card {
    background-color: $background-white;
    max-width: 220px;
    max-height: 427px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 43px 20px;
  }

  .contacts__card:not(:last-child) {
    margin-bottom: 20px;
  }

  .contacts__name {
    display: block;
    width: 80px;
    background-color: $background-two-color;
    color: $background-secondary-color;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 4px;
    margin-bottom: 25px;
  }

  .contacts__name-color {
    background-color: $background-pink;
    width: 130px;
  }

  .contacts__city {
    margin-bottom: 10px;
  }

  .contacts__card-text {
    color: $text-secondary;
    font-size: 11px;
    line-height: 150%;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }

  .contacts__card-border {
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;
  }

  .contacts__work-hours-marg {
    margin-bottom: 10px;
  }

  .contacts__work-hours {
    color: $text-pink;
  }

  .contacts__address-list {
    margin-top: 25px;
  }

  .contacts__button-location {
    display: block;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    border-radius: 22px;
    background-color: $text-red;
    color: $background-white;
    border: none;
    width: 161px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 54px;
    margin-bottom: 10px;
  }

  .contacts__button-franchise {
    display: block;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    border-radius: 22px;
    background-color: $background-white;
    color: $text-red;
    border: none;
    width: 161px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
  }

  .maps {
    min-width: 320px;
    width: 100vw;
  }

  .modal-window {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-window.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .modal-window.is-hidden .modal {
    transform: translate(-50% -50%) scale(1.2);
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 80%;
    background-color: $color-button;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal__close-button {
    position: fixed;
    top: 8px;
    right: 8px;
    padding: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $color-button;
  }
}

@media screen and (min-width: 768px) {
  .contacts__head {
    display: flex;
    justify-content: center;
  }

  .contacts__card {
    display: flex;
    flex-wrap: wrap;
    max-width: 220px;
    max-height: 544px;
    margin: 0;
    padding: 50px 31px;
  }

  .contacts__card:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .contacts__name {
    display: block;

    width: 73px;
    height: 28px;
  }

  .contacts__name-color {
    width: 138px;
  }

  .contacts__button {
    display: flex;
    justify-content: center;
    margin-top: 81px;
  }

  .contacts__button-location,
  .contacts__button-franchise {
    margin: 0;
  }

  .contacts__button-location {
    width: 191px;
    margin-right: 15px;
  }

  .contacts__button-franchise {
    width: 174px;
  }

  .contacts {
    font-size: 14px;
    background-image: linear-gradient(to bottom, #fff 10%, #fff5f6 10%),
      url('./../images/content-backg.png');
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }

  .contacts__card-text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    max-width: 1280px;
    background-image: url('./../images/content-backg.png'),
      linear-gradient(to bottom, #fff 10%, #fff5f6 10%);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts__card {
    display: flex;
    flex-wrap: wrap;
    max-width: 330px;
    max-height: 572px;
    padding: 51px 43px;
    padding-bottom: 62px;
  }

  .contacts__button-location {
    width: 198px;
  }

  .contacts__button-franchise {
    width: 180px;
  }

  .contacts {
    font-size: 16px;
  }

  .contacts__card-text {
    font-size: 16px;
  }
  .contacts__icon-franchise {
    fill: $text-red;
  }
  .contacts__icon-location {
    fill: $background-white;
  }
  .contacts__button-location:hover,
  .contacts__button-location:focus {
    background-color: $hover-buttons-red;
  }
  .contacts__button-franchise:hover,
  .contacts__button-franchise:focus {
    background-color: $hover-buttons-gray;
  }
}
