.single-item {
  padding-left: 5px;
  padding-right: 5px;
  @media screen and (min-width: 768px) {
    padding-left: 74px;
    padding-right: 74px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 178px;
    padding-right: 178px;
  }
}

.reviews-card {
  padding-top: 80px;

  &__img {
    margin: 0 auto;
  }

  &__wrapper {
    margin-top: 29px;
    padding: 28px 50px 20px 50px;
    background: #fafafa;
    @media screen and (min-width: 768px) {
      margin-top: 19px;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 15px;
      padding: 47px 54px 32px 59px;
    }
  }
  &__overlay {
    font-weight: 500;
    text-align: center;
    background-image: repeating-linear-gradient(
      180deg,
      transparent,
      transparent 29px,
      #e1e1e1 31px
    );
    font-size: 12px;
    line-height: 2.55;
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 2.14;
      letter-spacing: 0.04em;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.04em;
    }
  }

  &__comment {
    position: relative;
    padding: 0px 16px 6px 7px;
    @media screen and (min-width: 1200px) {
      padding: 0px 35px 7px 28px;
    }
    &::before {
      content: '';
      width: 54px;
      height: 40px;
      background-color: tomato;
      position: absolute;
      top: -12px;
      left: 11px;
      @media screen and (min-width: 1200px) {
        left: 0;
      }
    }
  }

  &__marker {
    margin-top: 30px;
  }
  &__icon {
    width: 4px;
    height: 4px;
    fill: #c7133e;
    margin-right: 10px;
  }
  &__customername {
    margin-top: 18px;
    text-align: center;
    font-size: 14px;
    line-height: 1.14;
    @media screen and (min-width: 768px) {
      margin-top: 14px;
      font-size: 16px;
      line-height: 1.88;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 15px;
      font-size: 20px;
      line-height: 1.85;
    }
  }
}
.dots-style {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-top: 35px;
  }

  & li:not(:last-child) {
    margin-right: 18px;
  }

  & button {
    background: #d9d9d9;
    border: none;
    border-radius: 50%;
    font-size: 0;
    height: 12px;
    width: 12px;
  }

  & li[class='slick-active'] button {
    background: #d31342;
  }
}
