.footer {
  padding-top: 150px;
}
.footer__double-title {
  font-family: Titan One;
  font-size: 18px;
  line-height: calc(21 / 18);
  text-transform: uppercase;
  letter-spacing: 0.02em;

  color: #ffa5ba;
}
.footer__title {
  font-family: Titan One;
  font-size: 34px;
  line-height: calc(39 / 34);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;
}
